<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>

</head>

<body>
  <h1></h1>
  <h2>Bet You Can't Bowl A Strike Every Time</h2>
</body>
</html>
